<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png">
        </div>
        <div class="col-sm-8">
            <h2><strong>Science-grade water modelling</strong></h2>
            <p>The WET-tool uses the General Lake Model to simulate dam performance under varying farm management
                and climatic scenarios.</p>
            <p>The General Lake Model is primarily developed by the AED group at UWA.</p>
        </div>
    </div>
</div>