<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="{{ site.baseurl }}/assets/images/dam-glm-white.png">
        </div>
        <div class="col-sm-8">
            <h2><strong>Science-grade water modelling</strong></h2>
            <p>At its core, the WET-tool uses the high-performance and science-grade General Lake Model to simulate dam
                water
                balance over time.</p>
            <p>The General Lake Model is primarily developed by the AED group at UWA.</p>
            <p>The WET-tool platform will expose a GLM web API for your custom modelling applications.</p>
        </div>
    </div>
</div>