<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2><strong>Making dams work again!</strong></h2>
            <p>The WET-tool will provide dam water intelligence to boost farm resilience under dry and changing
                climates.</p>
            <p>We're just getting started, we'd love your feedback to shape it's development!</p>
        </div>
        <div class="col-sm-4">
            <span><i class="fas fa-seedling" style="font-size:200px;color:white"></i></span>
        </div>
    </div>
</div>