<div class="container-fluid text-center">
    <h2><strong>Example use cases ...</strong></h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2><strong>Designing a new dam</strong></h2>
            <p>At the farm-level, the performance of a new dam tailored for a specific farm system and climatic
                conditions can be simulated with the results integrated into cost-benefit analysis and farm planning
                tools.</p>
        </div>
        <div class="col-sm-6">
            <img class="img-fluid" src="{{ site.baseurl }}/assets/images/200-sheep-white-500-500.png">
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-fluid" src="{{ site.baseurl }}/assets/images/regional-dams-heatmap-zoom-out.png">
                </div>
                <div class="col-sm-6">
                    <h2><strong>Regional-scale vulnerability assessments</strong></h2>
                    <p>For water planners, government officials, consultants, and researchers the WET-tool can be used
                        for
                        large-scale simulations of dam performance.</p>
                    <p>For example, the failure rate of all dams in an LGA could be simulated to provide a large-scale
                        view
                        of
                        water vulnerability and geographically target interventions to boost dam performance.</p>
                </div>
            </div>
        </div>