<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2><strong>WET-tool platform</strong></h2>
            <p>The WET-tool platform can be accessed via web browsers on mobile, tablet, or PC devices.</p>
            <p>The platform offers user friendly interfaces to GLM-powered dam simulations coupled with analytics and
                reporting tools.</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fas fa-chart-area" style="font-size:100px;color:white; padding: 10px;"></i>
            <i class="fas fa-mobile" style="font-size:100px;color:white; padding: 10px;"></i>
        </div>
    </div>
</div>