<div class="container-fluid text-center bg-dark">
    <h2><strong>Features</strong></h2>
    <h4>Use the WET-tool to ...</h4>
    <br>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png"
                    alt="dam desing">
                <h4><strong>Design dams</strong></h4>
                <p>Optimise dam dimensions for performance with your farm's climate, geography, and use.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png"
                    alt="cost-benefit">
                <h4><strong>Cost benefit analysis</strong></h4>
                <p>Simulate the costs and benefits of different dam technologies (roaded / plastic catchments, cleaning
                    dams, and fixing leaks).</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png"
                    alt="climate change">
                <h4><strong>Insights into a changing climate</strong></h4>
                <p>Assess your current dam's performance, or the performance new builds, under changing climates.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png"
                    alt="dam desing">
                <h4><strong>Farm planning</strong></h4>
                <p>Dashboards, project management, and spreadsheet tools to intergrate WET-tool simulations with your
                    farm
                    planning.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png"
                    alt="cost-benefit">
                <h4><strong>Farm water audit</strong></h4>
                <p>Work with consultants to use WET-tool to conduct detailed farm water audits and water risk analysis.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="https://github.com/AquaticEcoDynamics/glm-aed/raw/main/glm-source/admin/glm-icon2.png"
                    alt="climate change">
                <h4><strong>Regional-scale analysis</strong></h4>
                <p>High-performance cloud computing and GLM modelling tools permit regional-scale dam performance
                    analysis.</p>
            </div>
        </div>
    </div>
</div>